@globalStyle: #eee;

.clearfix:after{
	content: '.';
	display: block;
	height: 0px;
	width: 0px;
	visibility: hidden;
	clear: both;
}

body{
	background-color: @globalStyle;
}

body{
	.regForm{
		
	}
}